<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>编辑内容</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/shoujisc.css">
    <link href="/css/layer.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/ajaxfileupload.js"></script>

    <style>
        .file {
            position: relative;
            display: inline-block;
            background: #D0EEFF;
            border: 1px solid #99D3F5;
            border-radius: 4px;
            padding: 4px 12px;
            overflow: hidden;
            color: #1E88C7;
            text-decoration: none;
            text-indent: 0;
            line-height: 20px;
        }

        .file input {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
        }

        .file:hover {
            background: #AADFFD;
            border-color: #78C3F3;
            color: #004974;
            text-decoration: none;
        }

        #img {
            width: 150px;
            height: 100px;
            margin-left: 17%;
        }

        .demo-label {
            margin: 8px 20px 0 0;
            display: inline-block
        }

        .demo-radio {
            display: none
        }

        .demo-radioInput {
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 100%;
            display: inline-block;
            height: 26px;
            margin-right: 10px;
            margin-top: -1px;
            vertical-align: middle;
            width: 26px;
            line-height: 1
        }

        .demo-radio:checked + .demo-radioInput:after {
            background-color: RGB(18, 183, 241);
            border-radius: 100%;
            content: "";
            display: inline-block;
            height: 22px;
            margin: 2px;
            width: 22px
        }

        .demo-checkbox.demo-radioInput, .demo-radio:checked + .demo-checkbox.demo-radioInput:after {
            border-radius: 0
        }

        .type-title {
            margin-top: 4px;
        }
    </style>
</head>
<body>
<div class="sjsc-title1"
     style="height:50px; position:fixed; top:0px; z-index:9999;">
    <h3 class="sjsc-t1l f-l" style="line-height:50px;"><a
            href="/content/list"><span><</span>返回</a></h3>
    <input type="button" class="sjsc-btn1 f-r" id="save"
            style="padding:9px; font-size:16px; margin: 7px 10px 0 0;" value="保存">
    </input>
    <div style="clear:both;"></div>
</div>

<div style="height:50px;"></div>

<ul class="zlbj-ul1">
    <li>
        <p>图片</p>
        <a href="javascript:;" class="file">
            <input type="file" id="choice" name="file" onchange="upload();"><span
                class="showFileName">点击这里选择图片(可选)</span>
            <input type="hidden" name="picUrl" id="img_url"
                   value="$!data.picUrl">
        </a>
        <div style="clear:both;"></div>
    </li>
    <li id="imgDisplay"
        #if(!$picUrl && $!picUrl != "")
        style="display:none;"
        #end>
        <p>预览</p>
        <div>
            <img src="$!picUrl" id="img" border="0" width="50" height="50">
        </div>
        <div style="clear:both;"></div>
    </li>
    <li>
        <input type="hidden" value="$!data.id" name="id" id="dataId">
        <p>内容1200字</p>
        <textarea name="text" maxlength="1200" id="mass_content"
                  style="width:76%; height:250px; padding-left:10px; border:1px solid #eee; background:#F7F7F7;">$!data.text
</textarea>
        <div style="clear:both;"></div>
    </li>
    <li id="type">
        <p class="type-title">类型</p>
        <label class="demo-label">
            <input class="demo-radio" type="radio" name="sendType" value="1"
                #if(!$data.sendType || $!data.sendType == 1)
                   checked
                #end>
            <span class="demo-radioInput"></span>好友
        </label>
        <label class="demo-label">
            <input class="demo-radio" type="radio" name="sendType"
                   value="2"
                #if($!data.sendType == 2)
                   checked
                #end
            >
            <span class="demo-radioInput"></span>微信群
        </label>
    </li>
    <li id="zombieCheck">
        <p class="type-title">僵尸粉</p>
        <label class="demo-label">
            <input class="demo-radio" type="radio" name="friendFlag" value="1"
                #if(!$data.friendFlag || $!data.friendFlag == 1)
                   checked
                #end>
            <span class="demo-radioInput"></span>不标记僵尸粉
        </label>
        <label class="demo-label">
            <input class="demo-radio" type="radio" name="friendFlag"
                   value="2"
                #if($!data.friendFlag == 2)
                   checked
                #end
            >
            <span class="demo-radioInput"></span>僵尸粉
        </label>
    </li>
    <li id="gender">
        <p class="type-title">性别</p>
        <label class="demo-label">
            <input class="demo-radio" type="radio" name="sex" value="0"
                #if(!$data.sex || $!data.sex == 0)
                   checked
                #end>
            <span class="demo-radioInput"></span>所有
        </label>
        <label class="demo-label">
            <input class="demo-radio" type="radio" name="sex" value="1"
                #if($!data.sex == 1)
                   checked
                #end>

            <span class="demo-radioInput"></span>男
        </label>
        <label class="demo-label">
            <input class="demo-radio" type="radio" name="sex" value="2"
                #if($!data.sex == 2)
                   checked
                #end>
            <span class="demo-radioInput"></span>女
        </label>
    </li>
</ul>
    #parse("footer.vm")
<script>
    $("#save").click(function () {
        id = $('input[name=id]').val();
        text = $('textarea[name=text]').val();
        picUrl = $('input[name=picUrl]').val();
        sendType = $("input[name='sendType']:checked").val();
        sex = $("input[name='sex']:checked").val();
        friendFlag = $("input[name='friendFlag']:checked").val();

        if (text == '' && picUrl == '') {
            alert('请输入内容！');
            return;
        }

        $.ajax({
            type: "POST",
            dataType: "json",
            url: '/content/upsert',
            data: {
                id: id,
                picUrl: picUrl,
                text: text,
                sendType: sendType,
                sex: sex,
                friendFlag: friendFlag
            },
            beforeSend: function (XMLHttpRequest) {
            },
            success: function (obj) {
                console.log(obj.code);
                console.log(obj.errorMsg);
                if (obj.code == 200) {
                    window.location.href = '/content/list';
                } else {
                    alert(obj.errorMsg);
                }
            }
        });
    })

    function upload() {
        var fd = new FormData();
        fd.append( "file", $("input[name=file]").file);
        $.ajaxFileUpload({
            url: '/content/upload',
            secureuri: false,
            fileElementId: 'choice',//file标签的id
            dataType: 'json',//返回数据的类型
            data: fd,//一同上传的数据
            success: function (data, status) {
                //把图片替换
                if (data.code == 200) {
                    $("#img").attr("src", data.data.imgUrl);
                    $("input[name=picUrl]").val(data.data.picUrl);
                } else {
                    alert(data.errorMsg);
                }

            },
            error: function (data, status, e) {
                alert(e);
            }
        });
    }
</script>

</body>
</html>
