<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/shoujisc.css">
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
</head>
<body>
<div class="sjsc-title1" style="height:50px; position:fixed; top:0px;">
    <h3 class="sjsc-t1l f-l" style="line-height:50px;"><a
            href="/logout"><span><</span>退出</a></h3>
    <button class="sjsc-btn1 f-r"
            style="padding:9px; font-size:16px; margin: 7px 10px 0 0;"><a
            href="/content/edit" style="color:#FFFFFF;">发布内容</a></button>
    <div style="clear:both;"></div>
</div>

<div style="height:50px;"></div>
<div class="my-dd">
    <div class="my-info">
        #foreach($item in $list)

            <div class="my-k1" id="$!item.id">
                <ul class="my-p1">
                    <li class="my-spl f-l">$!item.timeStr</li>
                    <li class="my-spr f-r">
                        群发类型：
                        #if($item.sendType == 1)
                            好友
                        #else
                            微信群
                        #end
                    </li>
                    <div style="clear:both;"></div>
                </ul>
                <div style="overflow:hidden">
                    群发内容：</br>
                    $!item.text
                </div>
                <div class="my-p2" style="height:50px;">
                    <span class="my-sp3 f-l"
                          style="float:right; margin-right:10px;">
						<a class="zhifu-btn1"
                           style="width:110%; text-align:center; background:#ed5565; padding-left:5px; padding-right:5px;"
                           class="del" dataid="$item.id"> 删除</a>
					</span>

                    <span class="my-sp3 f-l"
                          style="float:right;  margin-right:20px;">
						<a href="/content/edit?id=$!item.id"
                           class="zhifu-btn1"
                           style="width:110%; text-align:center; background:#23c6c8; padding-left:5px; padding-right:5px;"> 编辑</a>
					</span>

                    <span class="my-sp3 f-l"
                          style="float:right; margin-right:25px;">
						<a href="/content/qrcode?id=$!item.id"
                           class="zhifu-btn1"
                           style="width:110%; text-align:center; padding-left:5px; padding-right:5px;"> 获取二维码</a>
					</span>

                    <div style="clear:both;"></div>
                </div>
            </div>
        #end
    </div>
</div>

    #parse("footer.vm")
<script>
    $('.del').click(function () {
        id = $(this).attr('dataid');
        if (confirm("确定要删除吗？")) {
            del(id);
        }
    })

    function del(id) {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '/content/delete?id=' + id,
            success: function (obj) {
                if (obj.code == 200) {
                    alert('删除成功！');
                    $('#' + id + '').remove();
                } else {
                    alert(obj.errorCode);
                }
            },
            error: function (data) {
                alert('网络错误');
            }
        });
    }
</script>
</body>
</html>
