<!doctype html>
<html>
<head>
<meta charset=utf-8"utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
<title>修改密码</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" >
<link rel="stylesheet" type="text/css" href="/css/shoujisc.css" >
<link href="/css/layer.css" rel="stylesheet">
<script type="text/javascript" src="/js/jquery-3.2.1.min.js" ></script>

<style>
    .title{
        width:150px;
        height:30px;
        margin:10px auto;
        text-align:center;
        font-size:1.2rem;
        line-height:30px;
    }
</style>
</head>

<body>
	<div class="sjsc-title1" style="height:50px; position:fixed; top:0px;">
    	<h3 class="sjsc-t1l f-l" style="line-height:50px;"><a href="javascript:history.go(-1)"><span><</span>返回</a></h3>
        <div class="title">修改密码</div>
        <div style="clear:both;"></div>
    </div>

    <div style="height:50px;"></div>
    
    <div class="delu-info2">
		<form action="/user/updatePwd" method="POST" data-type="ajax">
    	<ul class="delu-ul1">
        	<li class="delu-li1"><input style="width:100%;" type="password" required name="oldPassword" placeholder="请输入原密码" value=""/></li>
        	<li class="delu-li2"><input style="width:100%;" type="password" required name="newPassword" placeholder="请输入新密码"/></li>
        	<li class="delu-li2"><input style="width:100%;" type="password" required name="newPassword" placeholder="请输入新密码"/></li>
            <input type="hidden" name="company_id" value="">
        </ul>
        
        <input type="submit" class="delu-btn1" style="margin-top:20px; font-size: 18px;">提交</input>
		</form>
        <div class="delu-p1">
            <div style="clear:both;"></div>
        </div>
    </div>

        #parse("footer.vm")

	<script type="text/javascript">
       $(document).on('submit','form[data-type=ajax]',function(){
            var url = $(this).attr('action');
            var data = $(this).serializeArray();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: url,
                data: data,
				){
					layer.load();
				},
                success: function (obj) {
                    alert(obj.message);
                    window.history.go(-1);
                },
                error: function(data) {
					layer.closeAll();
                    alert('网络错误');
                }
            });

        });
	</script>
</body>

</html>
