<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>二维码</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/shoujisc.css">
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <style>
        .qrCode {
            width: 100%;
            height: auto;
            margin: 0 auto;
        }

        @media (min-width: 450px) {
            .qrCode {
                width: 60%;
                height: auto;
                margin: 0 auto;
            }
        }
    </style>
</head>
<body>
<div class="sjsc-title1" style="height:50px;">
    <h3 class="sjsc-t1l f-l" style="line-height:50px;"><a
            href="/content/list"><span><</span>返回</a></h3>
    <button class="sjsc-btn1 f-r refreshBtn"
            style="font-size:16px;padding:9px;margin: 7px 10px 0 0;" text-align: center"><span>刷新二维码</span>
    </button>
    <div style="clear:both;"></div>
</div>

<div class="my-dd" id="nextBut">
    <div class="my-info">
        <center><h1>微信扫二维码开始发送</h1></center>
        <center style="display:none;" id="prompt"><h1 style="color:red;">
            二维码有效期还剩 <span id="second">120</span> 秒</h1></center>

        </br>
        <div id="qrcode" style="text-align:center;">
        </div>
    </div>
</div>

    #parse("footer.vm")
<script>
    var id = $!id;
    var second = 120;
    var timer = null;

    getQrcodeOperation();
    function getQrcodeOperation() {
        $('#qrcode').html('');
        $('#qrcode').html('<span style="color:red; font-size:16px;">请求数据中...</span>');

        getQrcode(id);
    }

    // 刷新二维码
    $('.refreshBtn').click(function () {
        refreshQrcode();
    })

    function refreshQrcode() {
        second = 120;
        $('#second').html('120');
        $('#prompt').hide();
        clearInterval(timer);

        $('#qrcode').html('');
        $('#qrcode').html('<span style="color:red; font-size:16px;">请求数据中...</span>');

        getQrcode(id)
    }

    // 请求二维码数据
    function getQrcode(id) {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '/wx/qrcode?id=' + id,
            success: function (obj) {
                if (obj.code == 200) {
                    settime();
                    $('#qrcode').html('');
                    $('#qrcode').html('<div style="text-align:center;"><img class="qrCode" src=' + obj.data.qrcode + '></div>');
                    doRequest(obj.data.uuid, obj.data.currentTime);
                } else {
                    $('#qrcode').html('');
                    $('#qrcode').html('<span style="color:red; font-size:16px;">' + obj.data + '</span>');
                }
                $('.refreshBtn').attr("disabled", true);
                $('.refreshBtn').css("background", "#cccccc");
            },
            error: function (data) {
            }
        });
    }

    // 请求二维码数据
    function doRequest(uuid, time) {
        $.ajax({
            type: "POST",
            dataType: "json",
            timeout: 120000,
            url: '/wx/request?uuid=' + uuid + "&id=" + id + "&time=" + time,
            success: function (obj) {
                if (obj.code == 200) {
                    alert(obj.data);
                    window.location.href = "/content/list";
                } else {
                    alert(obj.errorMsg);
                }
            },
            error: function (data) {
            }
        });
    }

    // 倒计时刷新二维码
    function settime(val) {
        $('#prompt').show();
        timer = setInterval(function () {
            second -= 1;
            if (second > 0) {
                $('#second').html(second);
                if (second == 110) {
                    $('.refreshBtn').attr("disabled", false);
                    $('.refreshBtn').css("background", "#50D2F3");
                }
            } else {
                refreshQrcode();
                clearInterval(timer);
            }
        }, 1000);
    }

</script>
</body>
</html>
