<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxc.mapper.ContentMapper">
    <resultMap id="ContentMap" type="Content">
        <result property="id" column="id"/>
        <result property="version" column="version"/>
        <result property="text" column="text"/>
        <result property="picUrl" column="picUrl"/>
        <result property="sendType" column="sendType"/>
        <result property="friendFlag" column="friendFlag"/>
        <result property="sex" column="sex"/>
        <result property="createTime" column="createTime"/>
        <result property="deleted" column="deleted"/>
        <result property="creator" column="creator"/>
    </resultMap>

    <insert id="save" parameterType="Content">
      INSERT INTO content(version,text,picUrl,sendType,friendFlag,sex,createTime,deleted,creator)
      VALUES (1,#{text},#{picUrl},#{sendType},#{friendFlag},#{sex},now(),0,#{creator})
    </insert>

    <select id="queryListByUid" parameterType="Integer" resultMap="ContentMap">
        select * from content where creator = #{uid} and deleted = 0
        ORDER BY createTime desc limit 100;
    </select>

    <select id="getById" parameterType="Integer" resultMap="ContentMap">
        select * from content where id = #{id}
    </select>

    <update id="deleteById" parameterType="Integer">
        update content set deleted=1,version=version+1 where id=#{id}
    </update>

    <update id="update" parameterType="Content">
      update content
      set version=version+1,text=#{text},picUrl=#{picUrl},sendType=#{sendType},
      friendFlag=#{friendFlag},sex=#{sex}
      WHERE id=#{id}
    </update>
</mapper>
